* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

li{
    list-style-type: none;
}

/* nav - cupom */
.barra-cupom {
    background-color: #02ccd6;
    text-align: center;
    padding: 16px 16px;
}

.barra-cupom a{
    color: #000000;
    text-decoration: underline;
    font-family: Barlow, sans-serif;
    font-weight: 500
}

/* cabeçalho */
.cabecalho {
    position: relative;
    border-bottom: 2px solid #000;

}

.container-cabecalho {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ffcd30;

}

.div-logo {
    margin-left: 3%;
}

.logo{
    max-width: 240px;
    margin-top: 40px;
    margin-bottom:40px;
}

/* Itens do cabeçalho */

.menu-cabecalho-desktop {
    align-items: center;
    margin-left: 20%;
}

.menu-cabecalho-mobile {
    display: none;
    align-items: center;
    margin-left: 9%;
}

.itens-cabecalho {
    display: flex;
}

.item-cabecalho {
    color: #000000;
    font-family: Barlow, sans-serif;
    text-decoration: none;
    margin-right: 32px;
    font-weight: 500

}

.item-cabecalho-icon{
    margin-left: 13%;
}

/*Seção banner principal*/
.hero {
    background-image: url('./banner-koji-WIDE.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-align: center;
}

.titulo-hero {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff ;
    font-family: Barlow, serif;
    margin-bottom: 20px;
}

.titulo {
    font-size: 42px;
    margin-bottom: 40px;
    font-family: Recoleta, serif;
    font-weight: 500
}

.btn{
    background-color: rgb(255, 205, 48);
    padding-left: 35px;
    padding-right: 35px;
    height: 52px;
    border: none;
    border-radius: 8px;
    font-family: Barlow, serif;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: bold
}




@media (max-width: 1024px){
    .container-cabecalho {
        align-items: center;
        padding: 16px 40px;
    }

    .menu-cabecalho-desktop {
        display: none;
    }

    .div-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 0;
        padding: 0 16px;
    }

    .logo {
        max-width: 250px;
        margin: 24px auto;
    }

    .menu-cabecalho-mobile {
        display: flex;
        margin-left: 0;
    }

    .menu-cabecalho-mobile .itens-cabecalho {
        gap: 20px;
    }

    .menu-cabecalho-mobile .item-cabecalho {
        margin-right: 0;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .item-cabecalho {
        color: #5e4c19;
        font-family: Barlow, sans-serif;
        text-decoration: none;
        margin-right: 32px;

    }

    .itens-cabecalho {
        display: flex;
    }

    
}
